body {
    margin:0px;
    background-color: #cccccc;
    font-family:"Trebuchet MS", Tahoma, Arial, Verdana;
    font-size:12px;
    color:#000;
    background-image: url(/resources/images/pascoaMilkWay.jpg);
}

#todo {
    position: relative;
    width: 1151px;
    border: 1px solid gray;
    margin: 0px auto;
    background-color: white;
}

#topo {
    position: relative;
    width: 1150px;
    height: 100px;
    border: 1px solid gray;
}
#inicial {
    position: relative;
    width: 1150px;
    height: 35px;
    border: 1px solid gray;
    
}
#esquerda {
    float: left;
    width: 300px;
    min-height: 900px;
    border: 1px solid gray;
}

#meio {
    position: relative;
    width: 1150px;
    min-height: 300px;
    background-color: white;
}

#rodape2 {
    width: 746px;
    height: 75px;
    border: 1px solid gray;
}
#rodape{
    position:relative;
    clear:both;
    bottom:0;
    margin:5em 0 0 0;
    padding:0;
    height:4em;
    line-height:4em;
    text-align:center;
    font-size:.7em;
    background-color:#ffffff;
    border: 1px solid gray;
}

#miolo {
    float: left;
    width: 847px;
    min-height: 900px;

}
#miolo2 {
    float: left;
    width: 642px;
    min-height: 441px;
    border: 1px solid gray;
}

#menu {
    width: 450px;
    height: 400px;
}

#logo {
    float: left;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: #cccccc;
    margin-right: 20px;
}

#rodape_direita {
    float: right;
    width: 200px;
    text-align: right;
    margin: 5px 10px 0px 0px
}

#rodape_direita a{color: #cc6600; text-decoration: none;}
#rodape_direita a:hover{color: #cc6600; text-decoration: underline;}

